@{
    ViewData["Title"] = "First MVC";
}

<div class="text-center">
    <h1 class="display-4">Laborator 24</h1>
    <p>My first<a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core MVC App</a>.</p>
</div>
